[submodule "infrastructure/kubernetes/common/gcp-live-k8s-visualizer"]
	path = infrastructure/kubernetes/common/gcp-live-k8s-visualizer
	url = https://github.com/saturnism/gcp-live-k8s-visualizer.git
